@charset "utf-8";

@font-face {
  font-family: "vogue";
  src: url("../assets/fonts/Vogue.ttf");
}

@font-face {
  font-family: "notosans";
  src: url(../assets/fonts/NotoSansKR-Light.otf);
}

#title {
  font-family: "vogue";
  /* font-weight: bold; */
}
#twotwo {
  font-family: "vogue";
  font-size:medium;
  color:darkslategrey;
}

#background{
  background-color: #acb9cb2d;
}


hr{
  width:400px;
}
