@charset "utf-8";

@font-face {
  font-family: "vogue";
  src: url("../src/assets/fonts/Vogue.ttf");
}

@font-face {
  font-family: "notosans";
  src: url("../src/assets/fonts/NotoSansKR-Regular.otf");
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acb9cb2d;
  font-family: "notosans";
}

.App {
  font-family: "vogue", "Times New Roman", Times, serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 600px;
  /* margin: auto; */
  overflow: hidden;
}

#background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#title {
  font-family: "vogue";
  font-size: 60px;
  color: #216BAD;
  letter-spacing: -1px;
  /* transform: scale(1, 1.5); */
  margin-bottom: 20px;
}

#twotwo {
  font-family: "vogue";
  font-size: medium;
  color: darkslategrey;
  margin-bottom: 20px;
  text-align: center;
}

hr {
  width: 400px;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "notosans";
}